.countries-list {
  padding: 18px 25px;
  list-style: none;
}

.countries-list__item {
  line-height: 22px;
  font-weight: 300;
}

.countries-list__state {
  color: @gray;
  text-decoration: none;
}

.countries-list__button {
  height: 40px;
  .font(17px; 30px; 700);
  color: #161c35;
  text-transform: uppercase;
  background-color: #d6daed;
  border: none;
  border-radius: 20px;
}
