.countries-list {
  margin-top: 40px;
  padding: 18px 20px;
  list-style: none;
}

.countries-list__item {
  line-height: 22px;
  font-weight: 300;
}

.countries-list__state {
  color: @gray;
  text-decoration: none;
}