.page-title {
  position: relative;
  min-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px; 
  padding-bottom: 15px;
  background-color: #161c35;
  color: @white;
  .font(36px, 40px, 700);
  .rounded-bottom(1);

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 214px;
    height: 5px;
    margin-bottom: -2.5px;
    border-radius: 2px;
    background-color: #ff8d30;
  }
}
