.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edeff6;
  color: @gray;
}

.price__rounded {

  width: 320px;
  height: 25px;
  margin-top: -50px;
  background-color: #192144;
  .rounded-bottom(1);
}

.price__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  .font(24px; 24px; 700; normal);
  color: #ff8d30;

  &::after {
    flex-shrink: 0;
    content: "";
    width: 103px;
    height: 103px;
    margin-left: 20px;
    background-image: url(../img/rates@1x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 103px;
  }
}

.price__list {
  flex-grow: 1;
  list-style: none;
  counter-reset: section;
  margin: 0;

  &--ol {
    padding-left: 25px;
  }

  &--ul {
    padding: 25px;
    align-self: stretch;
  }
}



.price__item {
  display: flex;
  justify-content: space-between;
  font-weight: 300;

  &:first-child {
    .price__service {
      border-top: 1px solid #e1e3e9;
    }
  }

  &--ol {
    &::after {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      counter-increment: section;
      content: "" counter(section) "";
      width: 34px;
      height: 34px;
      margin-top: 5px;
      border-radius: 50%;
      color: #ffffff;
    }

    &:first-child {
      .price__service {
        border-top: 1px solid #e1e3e9;
      }
  
      &::after {
        background-color: #ffa530;
      }
    }
  
    &:nth-child(2) {
      &::after {
        background-color: #ffbd30;
      }
    }
  
    &:nth-child(3) {
      &::after {
        background-color: #ffd74b;
      }
    }
  }
}

.price__service {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e3e9;
  flex-grow: 1;
}

.price__to-all {
  line-height: 16px;
  color: #192144;
  text-decoration: none;
  padding-bottom: 15px;
}
