.transport__title {
  margin-left: -25px;
}

.transport__list {
  display: flex;
  justify-content: space-between;
  width: 121px;
  padding: 0;
}

.transport__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 32px;
  list-style: none;
  border-radius: 50%;
}

.transport__item--grey {
  background-color: #edeff6;
}

.transport__img {
  fill: #d9d9d9;
}

.transport__img--active {
  fill: @blue;
}
