.traveler {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.traveler__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.traveler__avatar {
  position: relative;
  height: 70px;
}

.traveler__photo {
  border-radius: 50%;
}

.traveler__like {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.traveler__mode {
  margin-top: 8px;
  margin-right: 2px;
}

.traveler__name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding-left: 20px;
  .font(20px; 20px; 700);
}

.traveler__hashtags {
  padding: 25px;
}

.traveler__level {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 68px;
  z-index: 10;
}

.traveler__way-to-travel {
  padding-left: 25px;
}

.traveler__button {
  align-self: center;
  width: 230px;
  height: 40px;
  .font(17px; 30px; 700);
  color: #161c35;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd74b;
  border: none;
  border-radius: 20px;
}
