.font(@font-size: 16px; @line-height: 22px; @font-weight: 700; @font-style: normal) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  font-style: @font-style;
}

.rounded(@z-index) {
  position: relative;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: @z-index;
}
